body {
	width: 960px;
	background-color: #ffffff;
}
#name {
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 28px;
	background-color: #4aaaa5;
	padding: 20px 0px 20px 0px;
	width: 200px;
	margin: 5px;
	text-align: center;
	position: relative;
	left: 20px;
}
#nav {
	float: right;
	position: relative;
	right: 0;
	bottom: 0;
	padding: 5px;
	margin: 5px;
}

.links {
	color: #777777;
	width: 33%;
	display: inline;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	width: 100px;
}
#wrapper {
	width: 960px;
}

#middle {
	width: 33%;
	color: #777777;
	border-left: solid;
	border-right: solid;
	display: inline;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}
#background {
	clear: both;
	background-image: url(../images/background.png);
	border-top: solid;
	border-color: #777777;
	padding: 20px;
	width: 920px;
	height: 600px;
}
#main {
	float: left;
	width: 600px;
	padding: 20px;
	margin-right: 50px;
	color: 777777;
	background-color: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
}
.aboutme {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 28px;
	background-color: #ffffff;
	color: #4aaaa5;
	height:auto;
	border-bottom: 1px;

}
#headshot {
	float: left;
	margin: 5px;
	padding-top: 20px;
}
#sidebar {
	float: left;
	width: 270px;
	background-color: #ffffff;
}

p {
	padding-top: 20px;
	color: #777777;
	border-top: solid;
}

#sidebar {
	width: 270px;

}
#icons {
	display: inline;

}
.icon {
	padding: 10px;
	display: inline;
	height: 50px;
	width:auto;
}
footer {
	padding: 20px;
	text-align: center;
	background-color: #666666;
	border-top: solid;
	border-width: 5px;
	color: #ffffff;
	height: 100px;
	width: auto;
}
